name: intestinal-roi-quant
channels:
  - conda-forge
  - defaults
dependencies:
  - python=3.10
  - numpy
  - scipy
  - scikit-image
  - napari
  - pyqt
  - tifffile
  - matplotlib
  - pandas
  - pip
  - pip:
    - roifile
